@model IEnumerable<Library.Entities.Book>

@{
    ViewData["Title"] = "List";
}

<h1>Книги</h1>

<p>
    <a asp-action="Create">Добавить книгу</a>
</p>
<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th>
                Название
            </th>
            <th>
                Автор
            </th>
            <th>
                Количество страниц
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pages)
            </td>
            <td>
                @Html.ActionLink("Изменить", "Edit", new { id=item.Id }) |
                @*@Html.ActionLink("Details", "Details", new { id = item.Id }) |*@
                @Html.ActionLink("Удалить", "Delete", new { id = item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
